.hero {
  .owl-carousel {
    background: #000;

    .item {
      min-height: 720px;

      .item-inside {
        min-height: 670px;

        .hero-heading {
          font-family: 'Poppins', sans-serif;
          color: #fff;
          font-size: 30px;
          font-weight: 600;
        }

        .hero-subheading {
          color: #fff;
        }

        .btn-warning {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 170px;
          height: 68px;
          background: $orange;
          border-color: $orange;
          border-radius: 35px;
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #fff;
        }
      }

      img {
        width: auto;
      }
    }
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 15px;
  }
}
