.content-info {
  background: #000;
  color: #fff;
  padding: 100px 0 125px 0;

  .widget_nav_menu,
  .widget_text {
    font-size: 14px;

    h3 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .nav-link {
        padding-left: 0;
        margin-left: 0;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  .copy {
    font-size: 14px;
  }
}