/**
 * Header
 */

.banner {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;

  .btn-light {
    font-size: 12px;
    color: $orange !important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 150px;
    height: 46px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.brand {
  font-weight: bold;
}

.nav-item {
  a {
    color: #fff;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }
}
